<!doctype html>
<title>{% block title %}{% endblock %} - Prayer Time</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Flask Prayer Time App</h1>
        </div>
      </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>