{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{city}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fajr</th>
      <th scope="col" class="bg-warning">Suhur</th>
      <th scope="col">Sunrise</th>
      <th scope="col">Dhuhr</th>
      <th scope="col">Asr</th>
      <th scope="col" class="bg-warning">Maghrib</th>
      <th scope="col">Isha</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{prayer_times.Fajr}}</td>
      <td class="bg-warning">{{prayer_times.Imsak}}</td>
      <td>{{prayer_times.Sunrise}}</td>
      <td>{{prayer_times.Dhuhr}}</td>
      <td>{{prayer_times.Asr}}</td>
      <td class="bg-warning">{{prayer_times.Maghrib}}</td>
      <td>{{prayer_times.Isha}}</td>
    </tr>
  </tbody>
</table>
<p class="card-text text-muted">Today's date: {{date}}</p>
{% endblock %}


